@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

section {
  @apply mb-5 w-fit border p-2 mr-5 rounded-xl bg-slate-200 shadow-lg;
}

textarea {
  display: flex;
  align-items: center;
}

textarea::-webkit-scrollbar {
  width: 0px;
}

p {
  @apply my-5 text-sm;
}
